button {
    margin-left: 0px;
    width: 81px;
}

a {
    margin-top: 10px;
    background-color: coral;
    font-style: italic;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
}

.profile-dropdown {
    padding-left: 0px;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
}
